.memory {
    padding-top: 50px;
    &__wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(11, 120px);
        gap: 20px;
        .item__img {
            text-align: center;
        }
        .item__text {
            text-align: center;
        }
    }
}